#form{
    background-color: lightgray;
}

  
  .card-body:hover {
    background-color: lightblue;
    
  }
  html {
    scroll-behavior: smooth;
  }

  html {
    scroll-behavior: smooth;
  }
  



